<nav>
    <ul>
        <h3>Home</h3>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="disabled"><a href="#">Disabled link</a></li>

        <h3 id="navDropSocialsBtn">
            <a onclick="navDropSocialsToggle();" href="javascript:void(0);">
                <span class="drop-icon">&#9662;</span>
                Socials
            </a>
        </h3>
        <span class="hidden" id="navDropSocials">
            <li><a target="_blank" rel="noopener noreferrer" href="https://www.twitch.tv/givized13">Twitch</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://youtube.com/@Givized13">YouTube</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="http://discord.gg/vVCXVX2AZq">Discord</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://bsky.app/profile/givized13.bsky.social">BlueSky</a></li>
        </span>
    </ul>
</nav>