<section style="text-align: center;">
    <h4>The webring!</h4>
    
    <a target="_blank" href="https://example.com/" title="Shows when hovered!">
        <img src="/images/button/example.png">
    </a>
    <a target="_blank" href="https://example.com/" title="Shows when hovered!">
        <img src="/images/button/example.png">
    </a>
    <a target="_blank" href="https://example.com/" title="Shows when hovered!">
        <img src="/images/button/example.png">
    </a>
    <a target="_blank" href="https://example.com/" title="Shows when hovered!">
        <img src="/images/button/example.png">
    </a>
    <a target="_blank" href="https://example.com/" title="Shows when hovered!">
        <img src="/images/button/example.png">
    </a>

    <br/>

    <h5>Your own button would go here :p</h5>
    <a download data-noframe href="/images/button/you.png" title="Shows when hovered :p">
        <img src="/images/button/you.png">
    </a>
</section>